---
# tasks file for tripleo-upgrade

- block:
    - name: prepare workload scripts
      include: common/create_workload.yml

    - name: launch workload
      command: "{{ workload_launch_script }}"

  when: workload_launch

- include: upgrade/main.yml
  when: upgrade_noop|bool or undercloud_upgrade|bool or overcloud_upgrade|bool

- include: update/main.yml
  when: update_noop|bool or undercloud_update|bool or overcloud_update|bool
