---
- name: import tasks from l3_agent_connectivity_check_start_script
  import_tasks: ../common/l3_agent_connectivity_check_start_script.yml

- name: Are we running in parallel or serially ?
  debug:
    msg: "{{ (overcloud_batch_update|bool) | ternary('Running in parallel', 'Running serially') }}"

- name: generate roles list from inventory file
  import_tasks: ../common/load_roles_from_inventory.yaml
  when: not oc_roles

- name: Run update.
  vars:
    oc_current_role: "{{ item }}"
  include_tasks: overcloud_update_run_role.yml
  loop: "{{ oc_roles|default(['all'])|batch((overcloud_batch_update|bool) | ternary(100, 1))|list }}"


- name: import tasks from l3_agent_connectivity_check_stop_script
  import_tasks: ../common/l3_agent_connectivity_check_stop_script.yml
  vars:
    current_stage_error: "{{ update_loss_threshold }}"
