# this is required for the molecule jobs
ansible
ansi2html
docker
# https://github.com/sqlalchemy/dogpile.cache/issues/178 (openstacksdk)
dogpile.cache>=0.6.5,<0.9.1  # MIT
pytest
pytest-cov
pytest-html
pytest-xdist
mock
sh>=1.12.14,<1.13
molecule>=2.22rc1,<3
netaddr
