parameter_defaults:
{% if control_scale is succeeded %}
    ControllerCount: {{ control_scale.stdout|regex_search('\d+')}}
{% endif %}
{% if compute_scale is succeeded %}
    ComputeCount: {{ compute_scale.stdout|regex_search('\d+')}}
{% endif %}
{% if ceph_scale is succeeded %}
    CephStorageCount: {{ ceph_scale.stdout|regex_search('\d+')}}
{% endif %}
{% if control_flavor is succeeded %}
    OvercloudControllerFlavor: {{ control_flavor.stdout.split()[1]}}
{% endif %}
{% if compute_flavor is succeeded %}
    OvercloudComputeFlavor: {{ compute_flavor.stdout.split()[1]}}
{% endif %}
{% if ceph_flavor is succeeded %}
    OvercloudCephStorageFlavor: {{ ceph_flavor.stdout.split()[1]}}
{% endif %}
{% if ntp_server is succeeded %}
    NtpServer: {{ ntp_server.stdout.split()[1] }}
{% endif %}
