#!/bin/bash
#
set -euo pipefail

source {{ undercloud_rc }}
openstack overcloud upgrade run \
    --stack {{ overcloud_stack_name }} \
    --nodes {{ item }} \
    --skip-tags validation | tee {{ working_dir}}/overcloud_upgrade_{{ item }}.log
