#!/bin/env bash
#
# Run overcloud Operating System upgrade on overcloud node {{ hosts }}
#
set -euo pipefail

source {{ undercloud_rc }}

{% if ceph_osd_enabled -%}
if [ ! -f .ceph_ran_{{ hosts }} ]; then

EXTERNAL_ANSWER=""
if openstack overcloud external-upgrade run --help | grep -qe "--yes"; then
    EXTERNAL_ANSWER="--yes"
fi

echo "[$(date)] Started ceph systemd units migration run for {{ hosts }}"

openstack overcloud external-upgrade run ${EXTERNAL_ANSWER} \
        --stack {{ overcloud_stack_name }} \
        --tags ceph_systemd \
        -e ceph_ansible_limit={{ hosts }} 2>&1 && touch .ceph_ran_{{ hosts }}

echo "[$(date)] Finished ceph systemd units migration run for {{ hosts }}"
fi
{% endif -%}

RUN_ANSWER=""
if openstack overcloud upgrade run --help | grep -qe "--yes"; then
    RUN_ANSWER="--yes"
fi

echo "[$(date)] Started system upgrade step for {{ hosts }}"

tripleo-ansible-inventory --stack {{ overcloud_stack_name }} --static-yaml-inventory upgrade_inventory.yaml --undercloud-connection ssh --undercloud-key-file /var/lib/mistral/.ssh/tripleo-admin-rsa --ansible_ssh_user tripleo-admin

bkg_pids=""
for host in $(echo "{{ hosts }}" | sed "s/,/ /g")
do
  openstack overcloud upgrade run ${RUN_ANSWER} \
          --stack {{ overcloud_stack_name }} \
          --static-inventory upgrade_inventory.yaml \
          --tags system_upgrade \
          --limit "${host}" 2>&1 | tee -a "RHEL_upgrade_${host}" &
  bkg_pids+=" $! "
done

status=0
for p in $bkg_pids; do
    if ! wait $p; then
        status=1
    fi
done

if [[ $status == 0 ]]; then
    echo "[$(date)] Finished system upgrade step for {{ hosts }}"
else
    echo "[$(date)] Failed in system upgrade step for {{ hosts }}"
    exit 1
fi
