#!/bin/bash
#
set -eu

RUN_ANSWER=""
if openstack overcloud upgrade run --help | grep -qe "--yes"; then
    RUN_ANSWER="--yes"
fi
set -o pipefail

source {{ undercloud_rc }}
openstack overcloud upgrade run ${RUN_ANSWER} \
    --stack {{ overcloud_stack_name }} \
    {% if overcloud_ssh_user %}
    --ssh-user {{ overcloud_ssh_user }} \
    {% endif %}
    --limit {{ host }} \
    --skip-tags validation | tee {{ working_dir}}/overcloud_upgrade_{{ host }}.log
