---
- name: run Ceph upgrade
  shell: |
    {{ working_dir }}/ceph-upgrade-run.sh 2>&1 {{ timestamper_cmd }} > \
      {{ working_dir }}/ceph-upgrade-run.log
  ignore_errors: true
  register: ceph_upg_status

- block:
    - name: print Ceph upgrade failures
      command: tail {{ working_dir }}/ceph-upgrade-run.log

    - name: fail Ceph upgrade
      fail:
        msg: Ceph Upgrade Failed
  when: ceph_upg_status|failed
