- block:
    - name: create start l3 agent connectivity check scripts
      template:
        src: "{{ l3_agent_connectivity_check_start_template }}"
        dest: "{{ l3_agent_connectivity_check_start_script }}"
        mode: 0775

    - name: create stop l3 agent connectivity check scripts
      template:
        src: "{{ l3_agent_connectivity_check_stop_template }}"
        dest: "{{ l3_agent_connectivity_check_stop_script }}"
        mode: 0775
  when: l3_agent_connectivity_check|bool
