#!/bin/env bash
set -euo pipefail

source {{ undercloud_rc }}

echo "[$(date)] Started Ceph minor update step"

openstack overcloud ceph-upgrade run \
    --templates {{ tht_directory }} \
    --stack {{ overcloud_stack_name }} \
    {% if initial_env_file is defined and initial_env_file.stdout_lines|length > 0 %}
    {% for _env in initial_env_file.stdout_lines %}
    -e {{ _env }} \
    {% endfor %}
    {% endif %}
    {% if cli_converted_options|default(false)|bool %}
    -e {{working_dir}}/cli_opts_params.yaml \
    {% endif %}
    {% if tripleo_upgrade_validations_non_fatal|bool %}
    --validation-errors-nonfatal \
    {% endif %}
    -e {{ working_dir }}/{{ container_registry_file }} \
    {% if roles_data != default_roles_data %}
    --roles-file {{ roles_data }}
    {% endif %}

echo "[$(date)] Finished CEPH minor update"
