parameter_defaults:
    CephAnsibleVerbosity: 3
{% if  ceph_osds_pg is defined %}
    CephPoolDefaultPgNum:  {{ceph_osds_pg}}
{% endif %}
    CephAnsibleDisksConfig:
        devices:
{% for osd in ceph_osds|sort %}
            - '{{ osd }}'
{% endfor %}
{% if ceph_osds_non_collocated|default(false) %}
        dedicated_devices:
{% for key, value in ceph_osds|sort %}
            - '{{ value.journal }}'
{% endfor %}
        osd_scenario: non-collocated
{% else %}
        osd_scenario: collocated
{% endif %}
    CephConfigOverrides:
      mon_max_pg_per_osd: 300
