parameter_defaults:
{% if  ceph_osds_pg is defined %}
    CephPoolDefaultPgNum:  {{ceph_osds_pg}}
{% endif %}
    CephAnsibleDisksConfig:
        devices:
{% for key, value in ceph_osds.iteritems()|sort %}
            - '{{ key }}'
{% endfor %}
