#!/usr/bin/bash
#
# Script to collect some logs during update stages.

CURRENT_STAGE=${1:-{{ log_current_stage }}}
SSH_USER={{ (overcloud_ssh_user) | ternary(overcloud_ssh_user, 'tripleo-admin') }}
EXCLUDED_CONTAINERS_FROM_CHECK=${3:-{{ excluded_containers_from_check }}}

# This should always be true for tripleo>=wallaby.
if [ ! -f {{ upgrade_validation_inventory }} ]; then
    # Then we create one for tripleo<wallaby.
    INVENTORY="${HOME}/inventory.yaml"
    if [ ! -f "${INVENTORY}" ]; then
        . $HOME/stackrc
        tripleo-ansible-inventory \
            --plan "{{ overcloud_stack_name }}" \
            --ansible_ssh_user ${SSH_USER} \
            --static-yaml-inventory \
            "${INVENTORY}"
    fi
else
    INVENTORY={{ upgrade_validation_inventory }}
fi

ansible-playbook -i "${INVENTORY}" -e current_stage="${CURRENT_STAGE}" -e containers_check_excluded="${EXCLUDED_CONTAINERS_FROM_CHECK}" {{ log_playbook }}
