#!/bin/bash
#
# This script make we we have 'System: Modify Realm Domains' privilege
# set on 'Nova Host Management'

set -o pipefail -e

# Password may need to be renewed.
kinit admin <<'EOI'
{{ freeipa_admin_password }}
{{ freeipa_admin_password }}
{{ freeipa_admin_password }}
EOI

if ipa privilege-show 'Nova Host Management' --all --raw | grep "memberof: cn=System: Modify Realm Domains"; then
    echo "Privilege already added"
else
    ipa privilege-add-permission 'Nova Host Management' --permission 'System: Modify Realm Domains'
fi
