#!/bin/env bash
#
# Setup HEAT's output
#
set -euo pipefail

# FIXME: Remove --validation-errors-nonfatal. In local testing it was
# not necessary but in RDO cloud validations seem to produce errors.
echo "Setting up HEAT's output for minor update"
openstack overcloud update prepare --templates {{ tht_directory }} \
    --stack {{ overcloud_stack_name }} \
    {% if overcloud_ssh_user != '' -%}
    --overcloud-ssh-user {{ overcloud_ssh_user }} \
    {% endif -%}
    {% if splitstack_deployment|bool -%}
    --disable-validations \
    --deployed-server \
    {% endif -%}
    {% if tripleo_upgrade_debug|bool -%}
    --debug \
    {% endif -%}
    {% if tripleo_upgrade_validations_non_fatal|bool -%}
    --validation-errors-nonfatal \
    {% endif -%}
    {% if initial_env_file is defined and initial_env_file.stdout_lines|length > 0 -%}
    {% for _env in initial_env_file.stdout_lines -%}
        -e {{ _env }} \
    {% endfor -%}
    {% endif -%}
    {% if roles_data != default_roles_data -%}
    --roles-file {{ roles_data }} \
    {% endif -%}
    -e {{ working_dir }}/{{ container_registry_file }} 2>&1
