#!/bin/env bash
#
# Setup HEAT's output
#
set -euo pipefail

echo "Setting up HEAT's output for minor update"
openstack overcloud update stack --init-update --templates \
    --stack {{ overcloud_stack_name }} \
    --container-registry-file {{ working_dir}}/{{ container_registry_file }} 2>&1
