#!/bin/env bash
#
# Prepare conatainer images for overcloud update/upgrade
#
{% if overcloud_update|bool or update_noop|bool -%}
{% set operation_type = 'update' -%}
{% elif overcloud_upgrade|bool or upgrade_noop|bool or ffu_overcloud_upgrade|bool or ffu_noop|bool -%}
{% set operation_type = 'upgrade' -%}
{% endif -%}
set -eu

source {{undercloud_rc }}

EXTERNAL_ANSWER=""
if openstack overcloud external-{{ operation_type }} run --help | grep -qe "--yes"; then
    EXTERNAL_ANSWER="--yes"
fi
set -o pipefail

echo "[$(date)] Start preparing container images for overcloud {{ operation_type }}"

openstack overcloud external-{{ operation_type }} run ${EXTERNAL_ANSWER} \
    --stack {{ overcloud_stack_name }} \
    --tags container_image_prepare 2>&1
