#!/bin/env bash
#
# Run minor update on overcloud nodes
#
set -eu

RUN_ANSWER=""
if openstack overcloud update run --help | grep -qe "--yes"; then
    RUN_ANSWER="--yes"
fi
set -o pipefail

source {{ undercloud_rc }}

{% if overcloud_update_multibooks|bool %}

    {%- for playbook in overcloud_update_playbooks -%}

echo "Running minor update {{ playbook }} playbook for {{ item }} role"
openstack overcloud update run ${RUN_ANSWER} \
    --stack {{ overcloud_stack_name }} \
    {% if tripleo_upgrade_debug|bool %}
    --debug \
    {% endif %}
    --limit {{ item }} --playbook {{ playbook }} 2>&1

    {%- endfor -%}

{% else %}

echo "Running minor update all playbooks for {{ item }} role"
openstack overcloud update run ${RUN_ANSWER} \
    --stack {{ overcloud_stack_name }} \
    {% if tripleo_upgrade_debug|bool %}
    --debug \
    {% endif %}
    --limit {{ item }} --playbook all 2>&1

{% endif %}
