#!/bin/env bash
#
# Run validation groups in OSP13 syntax
#
set -eu

set -o pipefail

SKIPLIST_VALIDATIONS="{{ skiplist_validations.split(',') | join(' ') }}"
source {{ undercloud_rc }}

for VALIDATION in $(openstack action execution run tripleo.validations.list_validations '{"groups": ["pre-upgrade"]}' | jq ".result[] | .id" | tr -d '"')
do
  #if VALIDATION present in SKIPLIST_VALIDATIONS skip it
  if [[ $SKIPLIST_VALIDATIONS =~ (^| )$VALIDATION($| ) ]]
  then
    echo "Skipping ${VALIDATION} as it's present in skip list."
  else
    echo "=== Running validation: $VALIDATION ==="
    STACK_NAME=$(openstack stack list -f value -c 'Stack Name')
    ID=$(openstack workflow execution create -f value -c ID tripleo.validations.v1.run_validation "{\"validation_name\": \"$VALIDATION\", \"plan\": \"$STACK_NAME\"}")
    while [ $(openstack workflow execution show $ID -f value -c State) == "RUNNING" ]
    do
      sleep 1
    done
    echo ""
    openstack workflow execution output show $ID | jq -r ".stdout"
    echo ""
  fi
done
