#!/bin/bash
#
# Apply upgrade workarounds on undercloud node
set -euo pipefail

{% for bugs in undercloud_workarounds %}
{% for key, value in bugs.items() %}
# {{ key }}
{% if value.patch %}
curl -4 https://review.openstack.org/changes/{{ value.id }}/revisions/current/patch?download | base64 -d | sudo patch  -d /usr/share/openstack-tripleo-heat-templates/ -p1
{% else %}
{{ value.command }}
{% endif %}
{% endfor %}
{% endfor %}
