#!/bin/bash
#
# Apply upgrade workarounds
set -euo pipefail

function apply_patch {
    local patch_dir=$1
    local patch_id=$2
    local temp_dir=''

    temp_dir=$( mktemp -d )

    curl -4 --retry 5 https://review.openstack.org/changes/${patch_id}/revisions/current/patch?download | \
        base64 -d > ${temp_dir}/patch.txt

    if [[ ${?} -ne 0 ]] ; then
        echo "Failed to download patch https://review.openstack.org/#/c/${patch_id}/"
        exit 1
    fi

    if sudo patch --dry-run --reverse --force -d ${patch_dir} -p1 < ${temp_dir}/patch.txt >/dev/null 2>&1
    then
        echo "Patch ${patch_id} already applied, skipping"
    else
        sudo patch -Ns  -d ${patch_dir} -p1 < ${temp_dir}/patch.txt
    fi

    sudo rm -Rf ${temp_dir}

}

{% if 'pre_undercloud_upgrade_workarounds' in item -%}
{% for bugs in pre_undercloud_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish pre_undercloud_upgrade_workarounds #}
{% if 'post_undercloud_upgrade_workarounds' in item -%}
{% for bugs in post_undercloud_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish post_undercloud_upgrade_workarounds #}
{% if 'pre_overcloud_upgrade_prepare_workarounds' in item -%}
{% for bugs in pre_overcloud_upgrade_prepare_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish pre_overcloud_upgrade_prepare_workarounds #}
{% if 'post_overcloud_upgrade_prepare_workarounds' in item -%}
{% for bugs in post_overcloud_upgrade_prepare_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish post_overcloud_upgrade_prepare_workarounds #}
{% if 'pre_overcloud_upgrade_workarounds' in item -%}
{% for bugs in pre_overcloud_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish pre_overcloud_upgrade_workarounds #}
{% if 'post_overcloud_upgrade_workarounds' in item -%}
{% for bugs in post_overcloud_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish post_overcloud_upgrade_workarounds #}
{% if 'pre_overcloud_upgrade_converge_workarounds' in item -%}
{% for bugs in pre_overcloud_upgrade_converge_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish pre_overcloud_upgrade_converge_workarounds #}
{% if 'post_overcloud_upgrade_converge_workarounds' in item -%}
{% for bugs in post_overcloud_upgrade_converge_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish post_overcloud_upgrade_converge_workarounds #}
{% if 'pre_ceph_upgrade_workarounds' in item -%}
{% for bugs in pre_ceph_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{% endif -%}
{# finish pre_ceph_upgrade_workarounds #}
{% if 'post_ceph_upgrade_workarounds' in item -%}
{% for bugs in post_ceph_upgrade_workarounds|default([]) -%}
{% for key, value in bugs.items() -%}
echo {{ key }}
{% if value.patch -%}
apply_patch {{ value.basedir }} {{ value.id }}
{% else -%}
{{ value.command }}
{% endif -%}
################################################################################
{% endfor -%}
{% endfor -%}
{# finish post_ceph_upgrade_workarounds #}
{% endif -%}
